# SPDX-FileCopyrightText: 2023 Sarah Vaupel <sarah.vaupel@uniworx.de>
#
# SPDX-License-Identifier: AGPL-3.0-or-later

dist*
*.hi
*.o
.stack-work/
/.stack-work.lock
.DS_Store
*.swp
*~
**/\#*
**/.\#*
*.kate-swp
.kateproject
*.orig
.directory
*.dump-splices
**/.direnv
**/result
**/result-*
/.vscode